<!DOCTYPE html>
<html>
<head>
  <title>Kurakani</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, message| %> 
  <p id="flash_<%= key %>"><%= message %></p>
<% end %>

<%= yield %>

</body>
</html>
